# Basic Configurations. All of this MUST be filled out

# Remove all inline comments from the env lines
MONGO_URL= # Mongo URL including the authentication
ENVIRONMENT= # PRODUCTION or DEVELOPMENT
SENTRY_URL= # Your sentry API URL, found in the sentry dashboard
SENTRY_BASE_URL= # Your sentry base URL for redirecting to the error
PRODUCTION_BOT_TOKEN= # Your production bot token
DEVELOPMENT_BOT_TOKEN= # Your development bot token
BLOXLINK_API_KEY= # Your BloxLink API key

# For the dashboard authentication
CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=

# DO NOT CHANGE
CUSTOM_GUILD_ID=0

# Used for Google Spreadsheets API, https://console.cloud.google.com/, not necessary for bot function
TYPE=
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=
CLIENT_EMAIL=
CLIENT_ID=
AUTH_URI=
TOKEN_URI=
AUTH_PROVIDER_X509_CERT_URL=
CLIENT_X509_CERT_URL=

# Document IDs for both Activity Report and Duty Leaderboard, not necessary for bot function
DUTY_LEADERBOARD_ID=
ACTIVITY_REPORT_ID=

# Artificial Intelligence API for avatar checking
GEMINI_API_KEY=
# FALSE or TRUE
AI_ENABLED=FALSE 

# MC API. You don't need to fill this out
# MC_API_URL=
# MC_API_KEY=

# ER:LC API. You don't need to fill this out (DO NOT USE YOUR ER:LC API KEY IN THE PRC_API_KEY FIELD)
# PRC_API_URL=
# PRC_API_KEY= 

# Jishaku stuff. Don't use this if you don't know what you're doing.
JISHAKU_OWNER=

# This is for hot_reload. Set it to the channel that you want logs to be sent to
JISHAKU_LOGGING_CHANNEL=

# Security Configuration
API_STATIC_TOKEN=
